@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Website Colours will try this colour for headline d4af37 */
:root {
    --soft-peach: #f5f5dc;
    --dark-greenish:#3b1e1a;
    --light-greenish: #4b2e2a;
    --orangey-yellow: #F1b819;
    --wooden-brown: #693f04;
    --white-rock:#ebe7d0;
    --white-colour:#fff;
    --light-yellow:#FFFFC5;
}

/* BASIC STYLING */

.logo {
    width: 80px;
    height: 80px;
    color: var(--soft-peach);

}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.green-clr{
    color: var(--light-greenish);
}

.peach-color{
    color: var(--soft-peach);
}
.peach-clr{
    color: var(--soft-peach);
}

.bg-green{
    background: var(--light-greenish);
}

.bg-lightyellow{
    background: var(--light-yellow)
}

.bg-peach{
    background: var(--soft-peach);
}

img{
    max-width: 100%;
    height: auto;
}

.side-spacing{
    padding-inline: 6rem;
}
/* HEADER SECTION */

header{
    background-color: var(--light-greenish);
    height: 13vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navlist,
.action-list,
.social-list{
    display: flex;
    align-items: center;
}
.navlist,
.action-list{
    gap: 2.5rem;
}

.links{
    font-size: 1rem;
}

.nav-btn{
    background: var(--soft-peach);
    color: var(--light-greenish);
    padding: .7rem 1.3rem;
    border-radius: 5rem;
    font-size: 1rem;
    font-weight: 600;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.fa-bars{
    color: var(--soft-peach) ;
    font-size: 2rem;
}

/* OTHER SECTIONS */

    /* HERO SECTION */
    .hero-section{
        min-height: 110vh;
        position: relative;
    }

    h1{
        font-size: 9rem;
        text-transform: uppercase;
        text-align: center;
        line-height: 7rem;
        font-family:"Kanit", sans-serif ;
    }


    .hero-img{
        position: absolute;
        width: 43rem;
        left: 50%;
        top: 35%;
        transform: translateX(-50%);
    }

    .hero-img::before{
        content: "";
        position: absolute;
        top: 25%;
        left: 50%;
        width: 43rem;
        border-radius: 50%;
        aspect-ratio: 1;
        transform: translate(-50%, -25%);
        z-index: -1;
         box-shadow: 0 0 60px rgba(255, 255, 255, 0.3)
         /*0 0 20px rgba(247, 220, 111, 0.5) */
         /*background: linear-gradient(
            var(--dark-greenish) 50%,
            var(--white-rock)50%
            );  */
    }

    .hero-content,.roasting-content{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 9rem;
    }

    /* TYPE WRITER ANIMATION */

      /* SMALL LINE ANIMATION */

     .peach-color {
        display:inline-block;
        overflow:hidden;
        white-space:nowrap;
      }
      
      .peach-color:first-of-type {    /* For increasing performance 
                             ID/Class should've been used. 
                             For a small demo 
                             it's okaish for now*/
        animation: showup 9s infinite;
      }
      
      .peach-color:last-of-type {
        width:0px;
        animation: reveal 7s infinite;
      }
      
      .peach-color:last-of-type span {
        margin-left:-355px;
        animation: slidein 14s infinite;
      }
      
      @keyframes showup {
          0% {opacity:0;}
          20% {opacity:1;}
          80% {opacity:1;}
          100% {opacity:0;}
      }
      
      @keyframes slidein {
          0% { margin-left:-800px; }
          20% { margin-left:-800px; }
          35% { margin-left:0px; }
          100% { margin-left:0px; }
      }
      
      @keyframes reveal {
          0% {opacity:0;width:0px;}
          20% {opacity:1;width:0px;}
          30% {width:355px;}
          80% {opacity:1;}
          100% {opacity:0;width:355px;}
      } 
    
    /* ENDS HERE */


    p{
        max-width: 400px;
        text-align: left;
        font-size: 1.328rem;
        font-family: "Fira Sans", sans-serif;
        white-space: nowrap;
        width: auto;
    }

    .icons-link{
        width: 2.7rem;
        aspect-ratio: 1;
        text-align: center;
        line-height: 2.7rem;
        border-radius: 50%;
        color: var(--light-greenish);
        transition: transform .3s ease-in-out;
    }

    .icons-link:hover{
        transform: translateY(-20%);
        box-shadow: 0 0 60px rgba(255, 255, 255, 0.3)
    }

    .fa-brands{
        font-size: 1.3rem;
    }
    .social-list{
        gap: 1rem;
    }


    .headline{
        background: var(--orangey-yellow);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 5;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        padding-block: 1.1rem;
    }

    .headline-content{
        display: inline-block;
        margin: 0 10px;
        text-align: center;

    }

    .headline-content .latte{
        width: 80px;
        height: 80px;
        margin: 0 10px;
    }

    .headline-content .cheesecake{
        width: 80px;
        height: 70px;
        margin: 0 10px;
    }

    .headline-content .pancake{
        width: 90px;
        height: 80px;
        margin: 0 10px;
    }

    .headline-content .waffle{
        width: 80px;
        height: 80px;
        margin-left: 5px;
        margin: 0 10px;
    }
    h4{
        display: inline-block;
        font-size: 2.2rem;
        color: var(--wooden-brown);
        text-transform: uppercase;
        margin-inline: 2rem;
        top: -50px;
    }


    /* OUR MENU */

    .working-section{
        padding-block: 3rem;
    }

    .img-part{
        width: 25rem;
    }

    h2{
        font-size: 4.2rem;
        text-transform: uppercase;
        text-align: right;
        font-family: "Notable", sans-serif;
        font-weight: 350;
    }

    .card-container{
        display: flex;
        justify-content: space-around;
        margin-top: 4rem;
        gap: 2rem;
        flex-wrap: wrap;
    }
    .card{
        width: 23rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    #first-container .card:nth-child(1){
        background-image: url(assets/images/latte.jpg);
    }
    #first-container .card:nth-child(2){
        background-image: url(assets/images/mocha.jpeg);
    }
    #first-container .card:nth-child(3){
        background-image: url(assets/images/affogato.jpg);
    }

    #second-container .card:nth-child(1){
        background-image: url(assets/images/capuccino.jpg);
    }
    #second-container .card:nth-child(2){
        background-image: url(assets/images/americano.jpg);
    }
    #second-container .card:nth-child(3){
        background-image: url(assets/images/flat\ white.jpg);
    }

    #third-container .card:nth-child(1){
        background-image: url(assets/images/frappe.jpeg);
    }
    #third-container .card:nth-child(2){
        background-image: url(assets/images/cartedo.jpg);
    }
    #third-container .card:nth-child(3){
        background-image: url(assets/images/espresso.jpeg);
    }

    .card::before{
        content: attr(data-type);
        position: absolute;
    }

    .action-btn{
        background: var(--orangey-yellow);
        width: 5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        font-size: 3rem;
        color: var(--light-greenish);
        display: block;
        text-align: center;
        line-height: 5rem;
        cursor: pointer;
    }

    .placement{
        position: absolute;
        bottom: 15px;
        right: 15px;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease-in-out;
    }

    .card:hover .placement{
        opacity: 1;
        visibility: visible;
    }

    /* OUR MENU HIGHLIGHTS */

    .img-con{
        width: 11rem;
        height: 6rem;
        border-radius: 5rem;
        overflow: hidden;
    }

    [data-type='min-padding']{
        padding-top: 2rem;
    }
    
    video{
        border-radius: 2rem;
        width: 100%;
        margin-top: 3rem;
    }

    /* OUR MENU */

    .start{
        text-align: left;
    }

    .listing{
        background: var(--dark-greenish);
        padding: 1rem 1rem 1rem 2rem;
        margin-top: 2.5rem;
        border-radius: 5rem;
        position: relative;
        top: -5%;
    }

    h3{
        font-size: 3.5rem;
        text-transform: uppercase;
        font-family:"Kanit", sans-serif ;
    }

    .listing:hover{
        background: var(--orangey-yellow);
    }
/* 
    .listing:hover h3{
        color: var(--light-greenish);
    } */

    .listing:hover .action-btn{
        background: var(--light-greenish);
        color: var(--orangey-yellow);
    }

    .roasting-img{
        width: 10rem;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        right: 20%;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s ease-in-out;
    }

    .roasting-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .listing:hover .roasting-img{
        top: 50%;
        opacity: 1;
        visibility: visible;
        
    }


    /* FOOTER SECTION */
footer{
    padding: 2rem;
}

h5{
    color: var(--light-greenish);
    font-size: 1.2rem;

}

.footer-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.footer-col{
    flex-basis: 10rem;
    margin-top: 2rem;
}

.footer-list{
    margin-top: 1rem;
}

.footer-list li{
    margin-bottom: .6rem;

}

form{
    height: 3.5rem;
    width: 23rem;
    border-radius: 5rem;
    background: var(--white-colour);
    display: flex;
    padding: .3rem;
    justify-content: space-between;
    align-items: center;
}

input[type="email"]{
    background: transparent;
    border: none;
    font-size: 1rem;
    height: 100%;
    border-radius: inherit;
    padding-inline: 1rem;
}

input:focus{
    outline: none;
}

input[type="submit"]{
    background: var(--light-greenish);
    border: none;
    color: var(--soft-peach);
    font-size: 1rem;
    border-radius: 5rem;
    padding: .6rem 1rem ;
}









/* MEDIA QUERIES */


@media  screen and (max-width: 680px) {
    .navlist{
        justify-content: center;
        flex-direction: column;
        background: var(--orangey-yellow);
        position: absolute;
        top: 0;
        left: 0;
        height: 80vh;
        width: 20rem;
        z-index: 5;
        border-bottom-right-radius: 50%;
        transform: translateX(-100%);
        transition: transform .5s ease-in-out;
    }

    .navlist-active{
        transform: translateX(0);
    }
    .navlist.links{
        color: var(--light-greenish);
    }

    .hamburger{
        display: block;
    }

    .side-spacing{
        padding-inline: 1rem;
    }
    
    h1{
        font-size: 4.2rem;
        line-height: 3.7rem;

    }

    .hero-img{
        width: 27rem;
        top:42% ;
    }
    .hero-img::before{
        width: 27rem;
    }

    .hero-content{
        flex-direction: column;
        padding-top: 2rem;
        gap: 1.5rem;
    }
    h2{
        font-size: 2.9rem;
    }

    .image-con{
        display: none;
    }

    [data-type="min-padding"]{
        padding-top: .3rem;
    }

    h3{
        font-size: 2.2rem;

    }
    .roasting-img{
        width: 7rem;
        left: 50%;
    }
    
}